
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsCard {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    margin: 10px 0;
}
.button {
    background-color: #2874f0;;
    color: white;
    font-weight: 400;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.button > p {
}

.productsCard-left-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsCard-left-up > p{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}